@font-face {
    font-family: Coolvetica Bk;
    src: url("Coolvetica Book.ttf");
}

@font-face {
    font-family: Azeret Mono;
    src: url("AzeretMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: Coolvetica Rg;
    src: url("Coolvetica Rg.otf");
}

@font-face {
    font-family: Bebas Kai;
    src: url("BebasKai.ttf");
}