







.timeblk { display: grid; grid-template-columns: auto; grid-template-rows: 3rem 2.5rem; row-gap: 0px; }

.pinfoblk { display: grid; grid-template-columns: auto auto max-content; column-gap: 1.2ch; grid-template-rows: auto; padding: .1em .2em; background-color: rgb(46, 46, 46);}

.pinfoblk period { display: flex; font-family: "Coolvetica Rg"; font-style: italic;}

.timeblk pup { font-size: 0.4em; margin-top: 0.3em; margin-left: .3em;}


.pstatusblk { display: flex; justify-content: center; font-family: "Bebas Kai"; font-size: 0.7em; height: 1.6rem; padding: .4rem; background-color: red; text-align: center; clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);}


.timeblk ptme { font-family: "Azeret Mono"; font-weight: 520; letter-spacing: -.1ch;}

.jamtme { font-family: "Azeret Mono"; text-align: right; font-style: italic; font-weight: 700; font-size: 0.8em; padding: 0.2ch .7ch 0.2ch .4ch; margin: .2ch 0 ; width: 3.5ch; letter-spacing: -.1ch; background-color: black; border-radius: 13px; color: rgb(255 100 100);}

.SlideDown { transition: max-height 1s ease; width: 100%; overflow: hidden; padding: 0;  max-height: 0; }


.Time { width: 49%; } 
.Time.ShowInIntermission { width: 100%; } 
.Time.Hidden { display: none; }

.Clock { margin-left: -9999em; float: left; } 
.Clock.Show { margin-left: 0; }

.pstatusblk .Clock { display: none; } 
.pstatusblk .Clock.Show { display: block; padding-left: 1ch; }



.tspan { padding-left: .4rem; padding-top: .2rem;}

.team-one { background-color: var(--team-one-primary); color: var(--team-one-font-color);}
.team-two { background-color: var(--team-two-primary); color: var(--team-two-font-color);}

.teamscr { display: flex; align-items: center; justify-content: right; width: 3.75ch; padding-right: .5ch; padding-left: .5ch; clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%); height: 3rem;}
.team-one .teamscr{ background-image: linear-gradient(rgb(216, 216, 216), white); color: black;}

.team-two .teamscr { background-image: linear-gradient(rgb(255, 230, 0), white); color: black;}



.scoreblk{ display: grid; grid-template-columns: 16ch min-content min-content; grid-template-rows: min-content; column-gap: 4px; font-size: 2rem; margin: 1%; margin-right: 44%; }

/* stuff for team block */
.teamblk { display: grid; grid-template-columns: auto; grid-template-rows: min-content min-content; row-gap: 1px; font-family: "Bebas Kai"; font-size: 1.1em; position: relative;}
.teamblk:not(.Lineups.UseLT) .JammerBox>:not(.Jamming),
.teamblk:not(.Lineups.UseLT) .JammerBox .Penalties,
.teamblk.ShowNames .JammerBox .Number, 
.teamblk:not(.ShowNames) .JammerBox .Name,
.teamblk:not(.PenaltyClocks) .JammerBox .PenaltyClock,
.teamblk .JammerBox>:not(.HasClock)>.PenaltyClock { display: none; } 

.nameblk { display: grid; grid-template-columns: 15ch min-content; font-family: "Bebas Kai"; font-size: 1.1em; height: 3rem; position: relative;}

.timeoutblk { display: flex; position: absolute; bottom: -6px; justify-content: space-evenly; z-index: 10; width: 100%; height: 8px;}
.Dot { border: black 1px solid; background-color: lightgray; width: 20%;}
.Dot.Used {  background-color: rgba(0,0,0,0);}
.Dot.Current { animation: DotActive 2s infinite steps(120); } 
@keyframes DotActive { 
  0% { background-color: rgb(0, 0, 0); } 50% { background-color: rgba(0,0,0,0); } 100% { background-color: rgb(0, 0, 0); } 
  }




.officialReview {
  border: black 1px solid;
  background-color: darkgrey;
  width: 20%;
  border-radius: 4px;
}



.jammerblk {
  display: flex;
  width: 100%;
  padding: 0.1rem 0 0 0;
  height: 2.3rem;
  font-family: "Coolvetica Bk";
  background-color: rgb(46, 46, 46);
  font-size: 0.7em;
  text-align: left;
}

.JammerBox .JammerBox.show {
  margin-left: -100%;
}


.flexbetween {
  padding: .2em .8ch .2em .5ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.jammerscr {
  display:flex;
  align-items: right;
  font-family: "Azeret Mono";
  font-style: italic;
  font-weight: 400;
  letter-spacing: -.1ch;
}

.jammerspecial {
  display: flex;
  align-content: center;
  font-family: "Coolvetica Rg";
  font-style: italic;
  width: auto; /* Automatically adjust width based on content */
  white-space: nowrap; /* Prevent text from wrapping */
  text-align: center;
}

.jammerspecial:not(:empty) {
  padding: .3ch .6ch .3ch 0.3ch;
}

.team-one .jammerspecial {
  color: var(--team-one-secondary);
  background-color: var(--team-one-primary);
}

.team-two .jammerspecial {
  color: var(--team-two-secondary);
  background-color: var(--team-two-primary);
}



.HeaderShape {
  margin-left: auto;
  margin-right: auto;
  vertical-align: center;
  background-color: black;
  transform: skew(40deg);
  width: 50%;
}

.rosterbox {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  column-count: 3;
  column-fill: auto;
  margin: 0px 3%;
  margin-bottom: 2%;
}

.rosterbox h1 {
  font-family: "there Brat";
  color: white;
  text-align: center;
  font-size: 56pt;
  transform: skew(-40deg);
  padding: 0.5em 0em;
}


bench {
  display: flex;
  justify-content: center;
  margin: 0px 3%;
}

.benchHead {
  background-image: linear-gradient(rgb(216, 216, 216), white);
  font-family: "Bebas Kai";
  text-align: right;
  width: 6.5ch;
  padding-top: 2px;
  padding-right: 30px;
  font-size: 28pt;
  color: black;
  margin-right: -12px;
}

.bench {
  background-color: rgb(46, 46, 46);
  display: flex;
  padding: 6px 14px;
  margin-left: -1px;
  width: 22rem;
  align-items: center;
  justify-content: space-between;
  transform: skew(20deg);
  box-shadow: inset -8px 8px 7px 0px black;
  color: white;
}

blk {
  display: flex;
  padding: 0px 8px 5px 0px;
}

.numBox {
  background-image: linear-gradient(rgb(216, 216, 216), white);
  font-family: "Bebas Kai";
  text-align: right;
  width: 4.4ch;
  padding-top: 1px;
  padding-right: 2ch;
  font-size: 28pt;
  color: black;
  margin-right: -1.3ch;
}
/* stuff for name box */
.namebox {
  background-color: rgb(46, 46, 46);
  display: flex;
  padding: 6px 14px;
  width: 20em;
  align-items: center;
  justify-content: space-between;
  transform: skew(20deg);
  box-shadow: inset -8px 8px 7px 0px black;
  color: white;
}


.lowerthird {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Fix it to the viewport */
  bottom: 1rem; /* Add a margin at the bottom */
  left: 1rem; /* Add a margin on the left */
  right: 1rem; /* Add a margin on the right */
  z-index: 10; /* Ensure it stays above other elements */
}

.powerjam {
  font-family: "Bebas Kai";
  font-size: 3rem;
  border-width: 1px;
  width: 20%;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0),20%,rgba(0,0,0,.65),80%,rgba(0,0,0,0));
  background-blend-mode: multiply;
}

.powerjam-team-one {
  background-color: var(--team-one-secondary);
  color: var(--team-one-font-color);
}

.powerjam-team-two {
  background-color: var(--team-two-primary);
  color: var(--team-two-font-color);

}





/* General look */
html { height: 100%; width: 100%; } 
body { margin: 0; padding: 0; overflow: hidden; } 
div { white-space: nowrap; display: block; padding: 0; margin: 0; }
.Box { float: left; margin: 0; padding: 0; position: relative; display: block; } 

.preload * { transition: none !important; } 

.Wrapper { clear: both; box-sizing: border-box; } 
div.Wrapper .TextLeft { text-align: left !important; } 
div.Wrapper .TextRight { text-align: right !important; } 
div.Wrapper .TextCenter { text-align: center !important; } 

.AnimatedPanel { position: absolute; display: block; overflow: hidden; padding: 0; } 
div.AnimatedPanel { transition: transform 1s ease-in-out, width 1s ease-in, height 1s ease-in; transform-style: preserve-3d; } 
div.AnimatedPanel.AnimationDelay { transition: transform 1s ease-in-out .3s; } 


/*********
 * panels 
 *********/
/* general */
.AnimatedPanel.LargePanel { width: 75%; top: 15%; margin: 0 auto; } 
.AnimatedPanel.MediumPanel { bottom: 5%; width: 20%; height: 8em; top: auto; border-radius: 10px; left: 40%; } 
.AnimatedPanel.LowerThird { top: 80%; left: 0; text-align: right; min-width: 45%; width: auto; } 

.PanelWrapperTop .AnimatedPanel.PanelHideTop { transform: translateY(-160%); } 
.PanelWrapperTop .AnimatedPanel.PanelHideTop.Show { transform: translateY(5%); } 

.PanelWrapperLeft .AnimatedPanel { transform: translateY(-50%); } 
.PanelWrapperLeft .AnimatedPanel.Show { transform: translateY(0); } 

.PanelWrapperCenter { font-family: "Bebas Kai";}
.PanelWrapperCenter .AnimatedPanel { margin: 0 auto; left: 50%; right: 50%; transform: translate(-50%, -50%); } 
.PanelWrapperCenter .AnimatedPanel.PanelHideBottom { transform: translateY(200%); } 
.PanelWrapperCenter .AnimatedPanel.PanelHideBottom.Show,

.AnimatedPanel.PanelHideSide { transform: translateX(-200%); } 
[Team="2"] .AnimatedPanel.PanelHideSide { transform: translateX(200%); } 
.AnimatedPanel.PanelHideSide.Show { transform: translateX(-50%); } 

.AnimatedPanel img { transition: height 1s ease-in-out .3s; } 
.AnimatedPanel img { height: 0; } 
.AnimatedPanel.Show.Upcoming img { height: 200px; } 
.AnimatedPanel.Show:not(.Upcoming) img { height: 164px; } 

.OverlayPanel h1,
.OverlayPanel h2 { background: #666; display: block; padding: 10px; color: white; } 

.OverlayPanel h1 { font-size: 3em; line-height: 1.6em; border-radius: 10px 10px 0 0; text-transform: uppercase; text-align: center; background: #000; color: white; margin-bottom: 0; } 
.OverlayPanel h2 { font-size: 1.4em; line-height: 1.6em; border-radius: 0 0 10px 10px; text-transform: uppercase; text-align: center; background: #333; color: white; margin-top: 0; } 

.OverlayPanel h4 { background: #333; color: white; border-radius: 0 10px 0 0; margin: 0; padding: 1%; font-size: 2em; } 
.OverlayPanel h5 { background: #ddd; color: #333; border-radius: 0 0 10px 0; margin: 0; padding: 2%; font-size: 1.2em; } 

.OverlayPanel h4.htop { border-radius: 0; } 
.OverlayPanel h4.hbottom { border-radius: 0 0 10px 10px; } 

.OverlayPanel h1, .OverlayPanel h2 { margin-left: 10%; margin-right: 0; } 
.NoLogo h1, .NoLogo h2 { margin-left: 0; } 
.NoLogo img { display: none; } 
.TeamLogo { float: left; } 

/* PPJ */
.PPJContainer { background: #ccc; padding: 10px; } 
.PPJBox [Team="1"] { border-bottom: 2px solid #777; } 
.PPJBox [Team="2"] { border-top: 2px solid #777; } 
.PPJBox .Team { height: 23vh; } 
.PPJBox .Period { height: 23vh; position: relative; display: block; float: left; } 
.PPJBox [Period="2"] { border-left: 4px solid #777; } 
.PPJBox h4 { text-transform: uppercase; text-align: center; font-size: 2.2em; } 

.JammerStar { text-align: center; color: #ddd; position: absolute; font-size: 1.6em; font-weight: normal; } 
.Points { font-family: "Azeret Mono"; font-weight: 400; width: 100%; text-align: center; color: #000000; position: absolute; font-size: 1.8em; height: 2em; } 
[Team="1"] .Points { top: 0vh; } 
[Team="1"] .JammerStar { top: 2vh; } 
[Team="2"] .JammerStar { top: 19vh; } 
[Team="2"] .Points { top: 21vh; } 

.GraphBlock { display: block; float: left; width: 10px; background: #888; margin: 0 2px; font-size: 60%; text-align: center; } 
.PPJBox [Period="2"] .GraphBlock { background: #999; } 
[Team="1"] .GraphBlock { margin-bottom: 10px; margin-top: 1px; } 
[Team="2"] .GraphBlock { margin-bottom: 1px; } 
.GraphBlock.Lead.Lost .JammerStar { color: #000000; } 
.GraphBlock.Lead.Lost .JammerStar:after { content: '\02297'; } 
.GraphBlock.Lead .JammerStar { color: #000000; } 
.GraphBlock.Lead .JammerStar:after { content: '\02605'; } 


/* Roster */
.RosterTeam .TeamLogo { margin-bottom: .5em; } 
.RosterTeam .Team .Skater { width: 48%; float: left; background: #ccc; overflow: hidden; font-size: 1.5em; line-height: 1.8em; } 
.RosterTeam .Team .Skater:nth-child(odd) { margin-right: 4%; } 
.RosterTeam .Team .Skater:nth-child(1) .Number, .RosterTeam .Team .Skater:nth-child(2) .Number,
.RosterTeam .Team .Skater:nth-child(1), .RosterTeam .Team .Skater:nth-child(2) { border-radius: 10px 0 0 0; } 
.RosterTeam .Team .Skater:nth-last-child(1) .Number, .RosterTeam .Team .Skater:nth-last-child(2) .Number,
.RosterTeam .Team .Skater:nth-last-child(1), .RosterTeam .Team .Skater:nth-last-child(2) { border-radius: 0 0 0 10px; } 
.RosterTeam .Team .Skater .Number,
.RosterTeam .Team .Skater .Flags,
.RosterTeam .Team .Skater .Name { min-height: 1.7em; max-height: 1.7em; float: left; overflow: hidden; } 
.RosterTeam .Team .Skater .Number { width: 15%; background: #ccc; background: #888; color: white; text-align: center; } 
.RosterTeam .Team .Skater .Name { width: 72%; } 
.RosterTeam .Team .Skater .Flags { width: 8%; float: left; vertical-align: middle; text-align: center; border-radius: 5px; color: #888; } 
.RosterTeam .Team .Skater .Flags[data-flag="C"]:after { content: 'C'; visibility: visible; } 
.RosterTeam .Team .Skater .Flags[data-flag="A"]:after { content: 'A'; visibility: visible; } 
.RosterTeam .Team .Skater .Flags[data-flag="B"]:after { content: 'B'; visibility: visible; } 
.RosterTeam .Team .Skater .Flags[data-flag="BA"]:after { content: '@'; visibility: visible; } 
.RosterTeam .Team .Skater .Flags[data-flag="ALT"]:after { content: '\02717'; visibility: visible; } 

.PanelWrapperCenter .RosterTeam.AnimatedPanel.LowerPart { margin-top: 10.5em; } 


/* Penalties */
.PenaltyTeam .NoShow { display: none; } 
.PenaltyTeam .TeamLogo { margin-bottom: .5em; } 
.PenaltyTeam .SortBox { border-radius: 10px; } 
.PenaltyTeam .Team .Skater { width: 100%; font-size: 1.2em; line-height: 1.4em; height: 1.4em; clear: both; } 
.PenaltyTeam .Team .Skater:nth-child(odd) { background: #ccc; } 
.PenaltyTeam .Team .Skater:nth-child(even) { background: #ddd; } 
.PenaltyTeam .Team .Number { float: left; width: 7%; padding-left: 2em; padding-right: 1em; color: #333; min-height: 100%; text-align: right; } 
.PenaltyTeam .Team .Name { float: left; width: 24%; color: #333; } 
.PenaltyTeam .Team .Penalty { float: left; width: 8%; } 
.PenaltyTeam .Skater .Penalty { display: block; padding: 0px 2px; background: #333; color: white; width: 2em; border-radius: 8px; text-align: center; margin-right: 10px; } 
.PenaltyTeam .Skater[warn="1"] .Penalty { background: darkorange; } 
.PenaltyTeam .Skater[warn="2"] .Penalty { background: orange; } 
.PenaltyTeam .Skater[warn="3"] .Penalty { background: red; } 
.PenaltyTeam .Skater[warn="3"] .Name,
.PenaltyTeam .Skater[warn="3"] .Number { text-decoration: line-through; color: red; } 

.PanelWrapperCenter .PenaltyTeam.AnimatedPanel.LowerPart { margin-top: 10.5em; } 


/* Upcoming */
.Upcoming { padding-top: 4em; } 
.Upcoming h1 { border-radius: 1em; } 
.Upcoming .UpcomingVS { padding: 1em; margin: 0 auto; width: 4em; background: white; color: red; font-size: 1em; border-radius: 1em; text-align: center; } 


.redbox { background-color: red; }
